@value colors: './colors.css';
@value navLink, navLinkHover, navLinkActive from colors;
@value transOrange, cautionOrange, transRed, dangerRed, darkGrey from colors;

.link {
  color: navLink;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: .5em 1em;
  font-weight: 500;
}

.link:hover {
  color: navLinkHover;
}

.activeLink {
  composes: link;
  color: navLinkActive;
}

.contentHeading {
  font-size: 2em;
}

.alert {
  border: 1px solid darkGrey;
  color: darkGrey;
  padding: 10px;
  border-radius: 4px;
}

.alertWarning {
  composes: alert;
  background-color: transOrange;
  border-color: cautionOrange;
}

.alertError {
  composes: alert;
  background-color: transRed;
  border-color: dangerRed;
}