.screen {
  width: 100%;
  height: 100%;
}

.page {
  composes: row from '../../styles/grid.css';
  height: 100%;
}

.uiSmall {
  width: 500px;
}

.loginForm {
  composes: uiSmall;
  margin: 0 auto;
}

.sideNav {
  composes: col from '../../styles/grid.css';
  width: 10em;
  height: 100%;
}

.content {
  composes: col from '../../styles/grid.css';
  width: calc(100% - 10em);
  padding: 20px;
}

.heading {
  font-size: 2em;
  margin: 0.5em 0;
}

@media (max-width: 800px) {
  .sideNav {
    margin-left: -10em;
  }

  .sideNavShow {
    composes: sideNav;
    position: absolute;
    margin-left: 0;
  }

  .content {
    width: 100%;
  }
}