
.alert {
  border: 1px solid darkGrey;
  color: darkGrey;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.alertWarning {
  composes: alert;
  background-color: transOrange;
  border-color: cautionOrange;
}

.alertError {
  composes: alert;
  background-color: transRed;
  border-color: dangerRed;
}
